body {
    margin: 0;
    background-color: #fff;
}

#header {
    font-family: Georgia;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

#choose {
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

#loginForm {
    margin: 0 auto; 
    margin-top: 15px;
    text-align: center;
}
#courses {
    font-family: Georgia;
    font-size: 15px;
}

.button {
    background-color: lightblue; 
    border: none;
    color: black;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    background-color: black; 
    color: white;
  }

#csUnits, #physicsUnits {
    width: 100px;
    padding: 10px;
    position: relative;
}

#csUnits1, #csUnits2 {
    background-color: lightblue; 
    width: 100px;
    padding: 10px;
    position: absolute; 
    cursor: pointer;
}

#physicsUnits1, #physicsUnits2 {
    background-color: lightgreen; 
    width: 100px;
    padding: 10px;
    position: absolute; 
    cursor: pointer;
}
